!!!
%html
  %head
    %title Hello, Haml!
  %body
    #header
      %h1 Hello, Haml!
    #content
      %p
        I use Haml
        %span.version= Haml::VERSION
      - @entries.map do |item|
        .item
          %a(href="#{item['link']}")
            = item['title']
          = item['description']
